body {
    color: grey;
    font-size: 20px;
}

button {
    background-color: wheat;
    border-radius: 25px;
    font-size: 15px;
}

#box {
    border: 1px solid black;
    width: 250px;
    height: 190px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}